/* CSS Variables */
:root {
  --default-text-color: #fff;
  --logo-color: rgb(231, 253, 35);
  --page-background-color: #0b0b0b;
  --card-text-color: rgb(232, 233, 243);
  --info-color: #ef06f7;
}

body {
  background-color: var(--page-background-color);
  color: var(--default-text-color);
}

/* NAVBAR */
.fa-star {
  color: var(--logo-color);
}

.site-name {
  color: var(--logo-color);
  position: absolute;
  top: 0px;
}

/* Movie card*/
.card {
  border: 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(41, 41, 41) 90.2%
  );
  box-shadow: 2px 12px 25px 2px ,
    0px 6px 30px 5px hsla(0, 0%, 8%, 0.726),
    0px 8px 10px -5px hsla(0, 2%, 10%, 0.686);
}

.pt-4{
  color: rgb(255, 200, 0);
  margin-left: 7px;
  /* font-size: 20px; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-text {
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--card-text-color);
}

.info-type {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(191, 247, 102);
}

.information {
  font-weight: 500;
  font-size: 0.9em;
  color: rgb(183, 249, 3);
}
.btn:hover {
  background-color: rgb(250, 30, 103);
  transform: scale(1.2);
  transition: all , .5s;
  box-shadow: none;
  color: aliceblue;


}
.pt-4:hover{
  cursor: pointer;
  transform: scale(1.5);
  transition: ease-in, .9s;
  font-size: 20px;
  font-weight: 40px;
}

/* Responsive design */
@media screen and (max-width: 767px) {
  #poster {
    margin-top: 1rem;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  #title {
    font-size: x-large;
  }

  h6 {
    
    font-size: medium;
  }

  h5 {
    font-size: medium;
  }

  #poster {
    margin-top: 0px;
    width: 100%;
  }
}
